*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info-card {
    float: left;
    background-color: #a0b7db;
    color: white;
    width: 210px;
    height: 150px;
    line-height: 125px;
    text-align: center;
    margin: 8px;
    display: none;
    font-size: 18px;
    word-wrap: normal;
    padding: 5px;
}

.show {
    display:block;
}

.btn {
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.sidenav {
    height: 100%;
    width: 28%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-left: 10px;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 10px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main-area {
    margin-top: 200px;
    margin-left: 30%;
}

.container {
    align-content: center;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #032340;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.sidenav > span {
    color: #032340;
}
.col-1, .col-2 {
    background-color: lightgray;
}

.question::before{
    content: "\a";
    white-space: pre;
}

.description > p {
    margin-left: 10px;
    margin-bottom: 20px;
    color: #032340;
}

.description > h1 {
    margin-left: 10px;
    margin-bottom: 20px;
}
 
@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
  
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}

.main-area > h1 {
    position: sticky;
    margin-bottom: 15px;
    text-align: center;
    color: black;
}

